Repository TianHe-Labs/vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write .

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{css,scss,html,json,js,ts,vue}": ["prettier --write ."]
}

feat: 更新
  .env
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  config/vite.config.base.ts
  mock/_server/data.ts
  mock/_utils/index.ts
  mock/index.ts
  package.json
  pnpm-lock.yaml
  src/components/end-menu/index.vue
  src/components/footer/index.vue
  src/components/title-bar/index.vue
  src/components/top-search/index.vue
  src/components/top-search/searchCondition.ts
  src/components/top-search/searchResult.ts
  src/hooks/index.ts
  src/hooks/search.ts
  src/hooks/useSign.ts
  src/hooks/useXXX.ts
  src/layouts/components/header.vue
  src/layouts/index.vue
  src/locales/index.ts
  src/main.ts
  src/pages/auth/index.vue
  src/pages/dashboard/index.vue
  src/pages/search/index.vue
  src/plugins/axios.ts
  src/router/guards/access.ts
  src/router/routes/index.ts
  src/settings.json
  src/store/modules/user/index.ts
  src/styles/app.sass
  src/styles/index.ts
  tsconfig.json
  types/components.d.ts
  uno.config.ts
  windi.config.ts
  yarn.lock
Due: eslint --fix, prettier --write .

feat: 更新
  pnpm-lock.yaml
Due: none

perf: 优化目录
  .eslintrc.js
  .github/workflows/ci-alioss.yml
  README.md
  mock/_server/data.ts
  mock/_server/user.ts
  package.json
  pnpm-lock.yaml
  src/components/end-menu/index.vue
  src/hooks/index.ts
  src/hooks/search.ts
  src/hooks/useUserLogout.ts
  src/pages/dashboard/index.vue
  src/router/routes/index.ts
  src/store/modules/user/index.ts
  src/store/modules/user/types.d.ts
  src/utils/fotmat.ts
  src/utils/has.ts
  src/utils/index.ts
  src/utils/is.ts
  src/utils/load-file.ts
  src/utils/transform.ts
  types/global.d.ts
Due: eslint --fix, prettier --write .

perf: 优化目录
  pnpm-lock.yaml
Due: none

refactor: 修改命名
  mock/_utils/index.ts
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

refactor: 去除无用逻辑
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

refactor: 修改命名
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

refactor: 调整配置
  src/components/footer/index.vue
  src/components/title-bar/index.vue
  src/router/guards/title.ts
  src/store/modules/app/index.ts
  src/store/modules/app/types.d.ts
Due: eslint --fix, prettier --write .

perf: 接口配置
  .env
  .env.development
  .gitignore
  config/utils/index.ts
  config/vite.config.dev.ts
  types/env.d.ts
Due: eslint --fix, prettier --write .

fix: 拼写错误
  config/vite.config.dev.ts
Due: eslint --fix, prettier --write .

fix: 修复auto-import插件问题
  config/vite.config.base.ts
  src/components/end-menu/index.vue
  src/components/end-menu/setting-item.vue
  src/components/nav-menu/index.vue
  src/hooks/search.ts
  src/hooks/theme.ts
  src/layouts/components/header.vue
  src/layouts/index.vue
  src/main.ts
  src/pages/auth/index.vue
  src/pages/dashboard/index.vue
  types/auto-imports.d.ts
Due: eslint --fix, prettier --write .

perf: 优化布局
  .drone.yaml
  .github/workflows/ci-host.yml
  src/assets/banner.png
  src/components/end-menu/index.vue
  src/components/header/index.vue
  src/components/nav-menu/index.vue
  src/components/title-bar/index.vue
  src/layouts/components/banner.vue
  src/layouts/index.vue
  src/pages/auth/index.vue
  src/router/routes/index.ts
  src/settings.json
  src/store/modules/app/types.d.ts
  types/components.d.ts
Due: eslint --fix, prettier --write .

style: 调整主题色
  .github/workflows/ci-host.yml
  src/hooks/theme.ts
  uno.config.ts
Due: eslint --fix, prettier --write .

chore: 更新 .npmrc
  .npmrc
Due: none

ci: 更新配置
  .github/workflows/ci-host.yml
  .github/workflows/host-deploy.yml
  .nvmrc
  Caddyfile
Due: none

chore: 更新镜像源
  .npmrc
Due: none

ci: 更新配置
  .env
  .env.development
  .env.production
  .github/workflows/host-deploy.yml
Due: none

ci: 更新配置
  .github/workflows/host-deploy.yml
Due: none

feat: 调整
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

feat: 调整结构和ci配置
  .drone.yaml
  .github/workflows/docker-deploy.yml
  Caddyfile
  Dockerfile
  Lite.Dockerfile
  README.md
  deploy.sh
  docker.nginx.template
  mock/_server/data.ts
  mock/_server/user.ts
  mock/_utils/index.ts
  mock/index.ts
  nginx.conf
  package.json
  pnpm-lock.yaml
  src/components/end-menu/index.vue
  src/components/header/index.vue
  src/components/title-bar/index.vue
  src/hooks/search.ts
  src/hooks/useUserLogout.ts
  src/layouts/index.vue
  src/locales/xxx.ts
  src/pages/auth/index.vue
  src/pages/dashboard/index.vue
  src/pages/search/index.vue
  src/pages/user-profile/index.vue
  src/pages/user/index.vue
  src/plugins/axios.ts
  src/router/guards/access.ts
  src/router/routes/index.ts
  src/settings.json
  src/store/modules/app/index.ts
  src/store/modules/route/index.ts
  src/store/modules/user/index.ts
  src/store/modules/user/types.d.ts
  src/styles/app.sass
  src/utils/auth.ts
  src/utils/token.ts
  types/components.d.ts
  types/env.d.ts
Due: eslint --fix, prettier --write .

feat: 调整结构和ci配置
  pnpm-lock.yaml
Due: none

fix: 修复Authorization问题
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

refactor: 剔除无用组件
  config/plugins/html.ts
  config/vite.config.prod.ts
  index.html
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

refactor: 剔除无用组件
  pnpm-lock.yaml
Due: none

fix: 修复参数
  config/vite.config.dev.ts
Due: eslint --fix, prettier --write .

ci: vercel测试
  vercel.json
Due: prettier --write .

ci: vercel preview测试
  vercel.json
Due: prettier --write .

fix: 修复认证不通过退出登录的BUG
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

feat: 增加轮询工具函数
  src/utils/index.ts
Due: eslint --fix, prettier --write .

更新轮询工具函数
  src/utils/index.ts
Due: eslint --fix, prettier --write .

feat: 菜单状态及面包屑优化
  src/components/breadcrumb/index.vue
  src/components/end-menu/index.vue
  src/components/nav-menu/index.vue
  src/components/top-search/index.vue
  src/hooks/search.ts
  src/layouts/index.vue
  src/pages/user/index.vue
  src/utils/can.ts
  src/utils/fotmat.ts
  src/utils/has.ts
  src/utils/index.ts
  src/utils/is.ts
  src/utils/transform.ts
  types/components.d.ts
  types/global.d.ts
Due: eslint --fix, prettier --write .

ci: 移除PR触发
  .github/workflows/docker-deploy.yml
Due: none

perf: 优化工具函数
  src/utils/index.ts
Due: eslint --fix, prettier --write .

perf: 优化主题颜色
  src/hooks/theme.ts
  src/layouts/index.vue
Due: eslint --fix, prettier --write .

chore: 移除无效内容
  src/router/routes/index.ts
Due: eslint --fix, prettier --write .

fix: 修复路由错误
  src/pages/auth/index.vue
Due: prettier --write .

perf: 优化逻辑修复环境变量问题
  config/utils/index.ts
  config/vite.config.dev.ts
  mock/_server/search.ts
  mock/_server/user.ts
  mock/index.ts
  src/components/header/index.vue
  src/hooks/index.ts
  src/layouts/index.vue
  src/pages/search/components/search-bar.vue
  src/pages/search/hooks/search.ts
  src/pages/search/index.vue
  src/router/routes/index.ts
Due: eslint --fix, prettier --write .

perf: 优化axios错误处理
  src/hooks/useUserLogout.ts
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

perf: 优化axios错误处理
  src/pages/auth/index.vue
Due: prettier --write .

perf: 非开发环境下屏蔽开发环境变量
  config/utils/index.ts
Due: eslint --fix, prettier --write .
