Repository TianHe-Labs/vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write .

perf: 优化用户令牌设置
  src/plugins/axios.ts
  src/router/guards/access.ts
  src/store/modules/user/index.ts
  src/store/modules/user/types.d.ts
  src/utils/auth.ts
Due: eslint --fix, prettier --write .

feat: 增加OSS签名链接
  .env
  package.json
  pnpm-lock.yaml
  src/components/end-menu/index.vue
  src/hooks/useUserLogout.ts
  src/store/index.ts
  src/store/modules/oss/index.ts
  src/store/modules/oss/types.d.ts
  src/utils/index.ts
  types/components.d.ts
Due: eslint --fix, prettier --write .

fix: 返回类型
  src/store/modules/oss/index.ts
Due: eslint --fix, prettier --write .

chore: 修改常量命名
  src/store/modules/user/types.d.ts
Due: eslint --fix, prettier --write .

perf: 优化axios拦截
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

chore: 更新函数命名
  src/components/end-menu/setting-item.vue
  src/layouts/index.vue
  src/store/modules/app/index.ts
Due: eslint --fix, prettier --write .

fix: 修正变量命名问题
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

perf: 优化Mock返回参数
  mock/_server/user.ts
  mock/_utils/index.ts
Due: eslint --fix, prettier --write .

perf: 优化用户信息与路由守卫逻辑
  src/plugins/axios.ts
  src/store/modules/user/index.ts
Due: eslint --fix, prettier --write .

feat: 响应式适配
  index.html
  src/App.vue
  src/components/breadcrumb/index.vue
  src/components/end-menu-mobile/index.vue
  src/components/end-menu/index.vue
  src/components/footer/index.vue
  src/components/header/index.vue
  src/components/nav-menu/index.vue
  src/components/title-bar/index.vue
  src/hooks/theme.ts
  src/hooks/useUserLogout.ts
  src/layouts/index.vue
  src/main.ts
  src/pages/auth/index.vue
  src/pages/not-found/index.vue
  src/pages/search/components/search-bar.vue
  src/pages/search/index.vue
  src/pages/user/index.vue
  src/router/routes/index.ts
  src/settings.json
  src/styles/app.sass
  src/utils/fotmat.ts
  types/components.d.ts
  types/env.d.ts
Due: eslint --fix, prettier --write .

style: 菜单颜色
  src/components/end-menu-mobile/index.vue
Due: prettier --write .

perf: config
  config/vite.config.dev.ts
Due: eslint --fix, prettier --write .

perf: 增加环境变量说明
  .env
  config/utils/index.ts
  types/env.d.ts
Due: eslint --fix, prettier --write .

chore: 修改函数命名
  src/components/end-menu-mobile/index.vue
  src/components/end-menu/index.vue
  src/hooks/index.ts
  src/hooks/useLogout.ts
  src/plugins/axios.ts
Due: eslint --fix, prettier --write .

ci: 更新配置
  .github/workflows/docker-deploy.yml
  .github/workflows/host-deploy.yml
Due: none

feat: 增加反馈
  src/App.vue
  src/components/end-menu/index.vue
  src/components/feedback/index.vue
  types/components.d.ts
Due: eslint --fix, prettier --write .

perf: 优化AliSTS逻辑
  src/pages/search/index.vue
  src/store/modules/oss/index.ts
  src/store/modules/oss/types.d.ts
Due: eslint --fix, prettier --write .

ci: 本地模拟
  docker.nginx.template
Due: none

style: unocss与naiveui黑暗模式协同
  src/App.vue
  src/pages/search/index.vue
  uno.config.ts
Due: eslint --fix, prettier --write .

style: 优化naiveui与unocss颜色协同
  .github/workflows/host-deploy.yml
  src/hooks/theme.ts
  uno.config.ts
Due: eslint --fix, prettier --write .

chore: package
  config/vite.config.dev.ts
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint --fix, prettier --write .

chore: package
  pnpm-lock.yaml
Due: none

feat: 支持默认请求状态消息提示
  src/plugins/axios.ts
  src/utils/errors.ts
Due: eslint --fix, prettier --write .

feat: 函数式响应式
  src/App.vue
  src/pages/search/index.vue
Due: prettier --write .

perf: 精简依赖
  README.md
  config/vite.config.base.ts
  package.json
  pnpm-lock.yaml
  src/components/breadcrumb/index.vue
  src/components/end-menu-mobile/index.vue
  src/components/end-menu/index.vue
  src/components/feedback/index.vue
  src/components/header/index.vue
  src/components/nav-menu/index.vue
  src/pages/auth/index.vue
  src/pages/search/components/search-bar.vue
  src/router/routes/index.ts
  types/components.d.ts
  uno.config.ts
Due: eslint --fix, prettier --write .

perf: 精简依赖
  README.md
  pnpm-lock.yaml
Due: none

docs: Update README.md
  README.md
Due: none

fix: 类型问题
  mock/_server/user.ts
  src/pages/search/index.vue
  src/router/guards/access.ts
  src/store/modules/app/index.ts
  src/store/modules/app/types.ts
  src/store/modules/oss/index.ts
  src/store/modules/oss/types.ts
  src/store/modules/route/index.ts
  src/store/modules/route/types.d.ts
  src/store/modules/route/types.ts
  src/store/modules/user/index.ts
  src/store/modules/user/types.d.ts
  src/store/modules/user/types.ts
Due: eslint --fix, prettier --write .

feat: sts服务
  Dockerfile
  Lite.Dockerfile
  docker.nginx.template
  src/store/modules/oss/index.ts
Due: eslint --fix, prettier --write .

feat: sts服务
  src/pages/auth/index.vue
  src/store/modules/oss/index.ts
  types/components.d.ts
Due: eslint --fix, prettier --write .

feat: sts服务
  README.md
Due: none

chore: 添加脚本
  deploy.sh
  docker.nginx.template
Due: none

feat: 更新
  deploy.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write .: any of: *.{css,scss,html,json,js,ts,vue}
