Repository TianHe-Labs/vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

.lintstagedrc:

{
  "*.{css,scss,html,json,js,ts,vue}": [
    "prettier --write ."
  ],
  "*.{js,ts}": ["eslint --fix"]
}

perf: 优化初始化逻辑
  .eslintrc.json
  .husky/commit-msg
  .husky/prepare-commit-msg
  package.json
  src/layouts/components/Header.vue
  src/lib/plugins/axios.ts
  src/main.ts
  src/pages/Auth.vue
  src/router/guards/access.ts
  src/router/guards/index.ts
  src/router/guards/loading.ts
  src/router/guards/title.ts
  src/router/index.ts
  src/router/navi-guards.ts
  src/router/route-generator.ts
  src/router/router-resetor.ts
  src/router/routes/index.ts
  src/store/index.ts
  src/store/modules/auth.ts
  src/store/modules/index.ts
  src/store/modules/route.ts
  src/store/modules/useUserAuth.ts
  types/global.d.ts
  types/models.d.ts
  types/modules.d.ts
Due: prettier --write ., eslint --fix

style: 调整风格
  .eslintrc-auto-import.json
Due: prettier --write .

feat: 更新sts签名模块
  src/lib/providers/signature.ts
  types/global.d.ts
  types/xxxx.d.ts
Due: prettier --write ., eslint --fix

feat: 更新部署模块
  .env.development
  .env.production
  .github/workflows/preview.yml
  .github/workflows/release.yml
  deploy.sh
  src/router/index.ts
  types/env.d.ts
  vite.config.ts
Due: prettier --write ., eslint --fix

fix: 修复git hooks问题
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

fix: 修正接口路径
  src/lib/providers/searchResult.ts
  src/store/modules/auth.ts
Due: prettier --write ., eslint --fix

feat: 更新axios配置
  src/components/stats/CateStats.vue
  src/lib/plugins/axios.ts
Due: prettier --write ., eslint --fix

refactor: 调整自动引入配置
  .eslintrc-auto-import.json
  .eslintrc.json
  build/vite/index.ts
  src/store/modules/auth.ts
  types/components.d.ts
Due: prettier --write ., eslint --fix

fix: 修复路径错误
  .env.production
  .eslintrc.json
  .github/workflows/preview.yml
  .github/workflows/release.yml
  deploy.sh
  src/store/modules/auth.ts
  types/components.d.ts
Due: prettier --write ., eslint --fix

feat: 增加黑暗主题，拆分组件优化逻辑
  src/App.vue
  src/layouts/components/Header.vue
  src/lib/providers/appTheme.ts
  src/lib/providers/index.ts
  src/pages/Auth.vue
  windi.config.ts
Due: prettier --write ., eslint --fix

feat: 增加环境变量，增强灵活性
  .env
  src/layouts/components/Footer.vue
  src/lib/providers/appMeta.ts
  types/env.d.ts
Due: prettier --write ., eslint --fix

refactor: 拆分组件逻辑
  src/components/header/AvatarMenu.vue
  src/components/header/NavMenu.vue
  src/components/header/SearchInput.vue
  src/layouts/Index.vue
  src/layouts/components/Banner.vue
Due: prettier --write .

refactor: 优化依赖，去除不必要的组件
  mock/_servers/user.ts
  mock/_utils/index.ts
  package.json
  pnpm-lock.yaml
  types/components.d.ts
Due: prettier --write ., eslint --fix

docs: 添加注释
  .github/workflows/release.yml
  src/router/guards/title.ts
Due: prettier --write ., eslint --fix

style: 统一变量命名
  src/components/header/AvatarMenu.vue
Due: prettier --write .

perf: 优化滚动条显示
  src/layouts/Index.vue
Due: prettier --write .

refactor: 修改项目名称
  package.json
Due: prettier --write .

feat: 更新CI/CD配置方式
  .github/workflows/preview.yml
  README.md
Due: none

refactor: 更新自动部署配置
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

feat: 更新结构
  src/layouts/Index.vue
  src/lib/composables/index.ts
  src/lib/composables/useXXX.ts
  src/lib/constants/index.ts
  src/lib/constants/xxx.ts
  src/lib/mappings/index.ts
  src/lib/mappings/xxx.ts
  src/lib/providers/searchCondition.ts
  src/lib/providers/searchResult.ts
  src/lib/utils/index.ts
  src/lib/utils/transform.ts
  types/xxxx.d.ts
Due: prettier --write ., eslint --fix

docs: 更新说明
  README.md
Due: none

refactor: 修正ci配置路径
  .github/workflows/preview.yml
Due: none

feat: 增加黑暗适配菜单类型
  .github/workflows/ci-host.yml
  config/vite.config.prod.ts
  nginx.conf
  src/App.vue
  src/assets/logo-dark.svg
  src/assets/logo-light.svg
  src/components/end-menu/index.vue
  src/components/footer/footer.vue
  src/components/footer/index.vue
  src/components/nav-menu/index.vue
  src/components/title-bar/index.vue
  src/hooks/useSign.ts
  src/layouts/Index.vue
  src/layouts/components/Banner.vue
  src/layouts/components/Header.vue
  src/pages/auth/index.vue
  src/pages/dashboard/index.vue
  src/pages/not-found/index.vue
  src/pages/redirect/index.vue
  src/pages/search/index.vue
  src/pages/user-profile/index.vue
  src/router/guards/access.ts
  src/router/routes/index.ts
  src/settings.json
  src/store/modules/app/index.ts
  src/store/modules/app/types.d.ts
  src/store/modules/user/index.ts
  src/styles/base.sass
  src/styles/custom-naiveui.sass
  src/styles/index.ts
  src/utils/fotmat.ts
  src/utils/is.ts
  tsconfig.json
  types/components.d.ts
  windi.config.ts
Due: prettier --write ., eslint --fix

fix: 修复标题问题
  src/router/guards/title.ts
Due: prettier --write ., eslint --fix

refactor: 文件名大小写问题
  src/layouts/components/banner.vue
  src/layouts/components/header.vue
  src/layouts/index.vue
  types/components.d.ts
Due: prettier --write ., eslint --fix

Delete Index.vue
  src/layouts/Index.vue
Due: prettier --write .

Delete Header.vue
  src/layouts/components/Header.vue
Due: prettier --write .

Delete Banner.vue
  src/layouts/components/Banner.vue
Due: prettier --write .

fix: 修正ci配置错误
  .github/workflows/ci-host.yml
Due: none

docs: 更新文档说明
  .github/workflows/ci-alioss.yml
  .github/workflows/ci-host.yml
  README.md
  config/vite.config.base.ts
Due: prettier --write ., eslint --fix

perf: 优化错误处理
  config/vite.config.base.ts
  config/vite.config.dev.ts
  mock/_util.ts
  src/components/top-search/searchResult.ts
  src/main.ts
  src/pages/auth/index.vue
  src/pages/redirect/index.vue
  src/plugins/axios.ts
  src/router/guards/access.ts
  src/router/routes/index.ts
Due: prettier --write ., eslint --fix

feat: 增加应用配置选项
  .env
  mock/user.mock.ts
  src/components/end-menu/index.vue
  src/components/end-menu/setting-item.vue
  src/components/footer/index.vue
  src/components/nav-menu/index.vue
  src/components/title-bar/index.vue
  src/layouts/components/banner.vue
  src/layouts/components/header.vue
  src/layouts/index.vue
  src/main.ts
  src/pages/auth/index.vue
  src/router/guards/title.ts
  src/router/routes/index.ts
  src/router/types.d.ts
  src/settings.json
  src/store/modules/app/index.ts
  src/store/modules/app/types.d.ts
  src/store/modules/user/types.d.ts
  src/utils/fotmat.ts
  types/components.d.ts
  types/env.d.ts
Due: prettier --write ., eslint --fix

fix: 修正类型问题
  src/router/guards/access.ts
  src/router/types.d.ts
  src/store/modules/route/index.ts
  types/components.d.ts
Due: prettier --write ., eslint --fix

feat: 更换数据Mock
  config/vite.config.base.ts
  config/vite.config.dev.ts
  mock/user.mock.ts
  package.json
  yarn.lock
Due: prettier --write ., eslint --fix

perf: 优化数据Mock
  config/vite.config.base.ts
  mock/_server/user.ts
  mock/_utils/index.ts
  mock/index.ts
  mock/types.d.ts
  mock/user.mock.ts
  package.json
  src/main.ts
  tsconfig.json
  yarn.lock
Due: prettier --write ., eslint --fix

fix: 修正退出登录后应用设置重置问题
  src/hooks/useSign.ts
  src/store/modules/app/index.ts
Due: prettier --write ., eslint --fix

fix: 修正类型
  src/router/types.d.ts
Due: prettier --write ., eslint --fix

refactor: 调整lintstaged配置
  .lintstagedrc
Due: none

refactor: 更新naiveui
  package.json
  yarn.lock
Due: prettier --write .
